#resume-js-editor {
    height: 80vh!important;
    width: 100%!important;
}

.modal {
    z-index: 50000;
}

.modal-content {
    width: 93vw;

    .editor__status {
        padding: 0.5em 0;
        background-color: white;
        display: block;
        text-align: center;
    }
}