body {
  font-size: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  color: #444;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }
  body .page {
    page-break-after: always;
    padding: 4em; }
    body .page:last-child, body .page:last-of-type {
      page-break-after: avoid; }
    body .page.first-page {
      padding-top: 4em !important; }

.header-personal_info {
  margin-right: 1em;
  margin-bottom: 0.4em;
  word-break: break-word; }
  .header-personal_info a {
    color: #888;
    transition: color 300ms ease-out; }
    .header-personal_info a:hover {
      color: #29B6F6; }

@media print {
  * {
    background-color: white !important; }
  @page {
    size: auto;
    margin: 0;
    background-color: white !important; }
  .hidden-print, button, #notification-wrapper, .modal {
    display: none !important; }
  .resumify-preview {
    background-color: white !important;
    box-shadow: none; }
    .resumify-preview .page {
      box-shadow: none;
      margin: 0;
      background-color: white !important; }
  .resumify.app {
    padding: 0 !important;
    margin: 0 !important;
    background-color: white !important; }
  body {
    background-color: white !important; }
  body .page {
    background-color: white !important;
    padding-top: 0;
    box-shadow: none !important;
    margin: 0; }
    body .page:last-of-type {
      page-break-after: avoid; }
  .condensed.resume, .centred.resume {
    box-shadow: none !important; } }

.resume-tools-menu-button {
  margin-left: 10px;
  margin-top: 10px;
  position: fixed;
  left: 0;
  z-index: 10; }
  .resume-tools-menu-button.close {
    margin-right: 10px;
    right: 0;
    left: auto;
    top: 0; }
    .resume-tools-menu-button.close div {
      background-color: white; }

.menu-open {
  position: relative;
  float: right; }

.resume-tools-menu-button div {
  width: 35px;
  height: 5px;
  background-color: black;
  margin-bottom: 5px;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  transition: .5s all; }

.resume-tools-menu-button div.tools-shown:first-of-type {
  transform: rotate(45deg);
  position: relative;
  width: 35px;
  top: 10px; }

.resume-tools-menu-button div.tools-shown:nth-of-type(2) {
  width: 0;
  position: relative; }

.resume-tools-menu-button div.tools-shown:last-of-type {
  transform: rotate(-45deg);
  position: relative;
  top: -10px;
  width: 35px; }

.resumify-tools-sidebar .resumify-print {
  margin: 0.5rem auto; }
  .resumify-tools-sidebar .resumify-print button {
    width: 100%; }

.resumify-tools-sidebar .resumify-tools-editor {
  margin: 0.5rem auto; }
  .resumify-tools-sidebar .resumify-tools-editor button {
    width: 100%; }

.resumify-tools-sidebar .resumify-panel-fontSelector {
  margin: 0.5rem auto; }

.resumify-tools-sidebar .resumify-tools-orderChanger .box-order {
  padding: 0.75rem;
  margin-bottom: .5rem;
  cursor: move; }

.resumify-skillset .skillset-item {
  margin-bottom: 1rem; }

.resumify-skillset .tags-container {
  padding: 0.5em 0; }

.resumify-education .education-item {
  margin-bottom: 0.5rem; }
  .resumify-education .education-item__head {
    justify-content: space-between; }

.resumify-projects .project-item {
  margin-bottom: 0.75rem; }
  .resumify-projects .project-item__header {
    justify-content: space-between; }
    .resumify-projects .project-item__header a {
      color: #888;
      transition: color 300ms ease-out; }
      .resumify-projects .project-item__header a:hover {
        color: #29B6F6; }
  .resumify-projects .project-item__brief {
    display: block;
    margin: 0.5rem 0; }

#resume-js-editor {
  height: 80vh !important;
  width: 100% !important; }

.modal {
  z-index: 50000; }

.modal-content {
  width: 93vw; }
  .modal-content .editor__status {
    padding: 0.5em 0;
    background-color: white;
    display: block;
    text-align: center; }

.resumify-toolpanel {
  position: fixed;
  width: 15rem;
  top: 0;
  left: 0;
  font-size: 90%;
  padding: 2.5em;
  z-index: 100;
  box-sizing: border-box; }

.resumify-preview {
  background: #eee;
  box-shadow: 0 0 0 99999px #eee;
  padding: 0.5em 1.5em;
  min-height: 100vh;
  -webkit-transform-origin: top left !important;
  -ms-transform-origin: top left !important;
  transform-origin: top left !important; }
  .resumify-preview .page {
    position: relative;
    background-color: white;
    margin: 1em auto;
    min-height: 279.4mm;
    width: 215.9mm;
    box-shadow: 0 1px 5px #ccc;
    box-sizing: border-box; }

.resumify.app {
  padding-left: 15rem; }

.resumify-header, .resumify-skillset, .resumify-education, .resumify-projects, .resumify-experience {
  margin-bottom: 1rem; }

.splash-page {
  height: 100vh;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center; }
  .splash-page__content {
    width: 20em;
    max-width: 100%;
    font-family: 'Open Sans', sans-serif;
    text-align: center; }
    .splash-page__content h1 {
      position: relative;
      margin-bottom: 1.2em; }
      .splash-page__content h1:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        border-bottom: thin solid;
        width: 1em;
        left: 50%;
        margin-left: -0.5em;
        border-color: black;
        border-bottom-width: 2px; }
  .splash-page__image {
    width: 50%;
    margin: 0 auto; }
  .splash-page__intro {
    margin-bottom: 1.25em; }
  .splash-page__cta {
    margin-bottom: 1em; }
